.ui-tooltip-content {
	font-size: 0.6875em;
  	font-family: Arial, Helvetica, sans-serif;
  	font-weight: normal;
}
.ui-tooltip {
  	padding: 10px 20px;
  	border-radius: 10px;
  	background: white;
  	color: black;
  	box-shadow: 0 0 7px black;
}
  		
div {
    font-size: 0.7500em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
}
		
#tabs { width: 1000px; height: 400px; padding: 0.5em; }

#accountInfo { width: 500px; height: 300px; padding: 0.5em; }
#accountInfo h3 { text-align: center; margin: 0; }

#customerInfo { width: 500px; height: 300px; padding: 0.5em; }
#customerInfo h3 { text-align: center; margin: 0; }

.ui-resizable-helper { border: 1px dotted gray; }